<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>   
 <!---Name: Rowel Almuete - 301137911 -->  
<!--- Body Begins-->>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!--- Footer Begins-->>
<%- include partials/footer.ejs%> 